<iframe width="100%" height="584" frameborder="0"
  src="https://observablehq.com/embed/@d3/line-with-tooltip?cells=chart"></iframe>
  <div id="observablehq-chart-c196b206"></div>
<p>Credit: <a href="https://observablehq.com/@d3/line-with-tooltip">Line Chart, Tooltip by D3</a></p>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
import define from "https://api.observablehq.com/@d3/line-with-tooltip.js?v=4";

const response = await fetch("{{ url_for('static', filename='data/data.json') }}");
const rawData = await response.json();

// help from AI for converting the data..
const newData = rawData.map(d => ({
  date: new Date(d.Date),
  close: d.Close
}));

const main = new Runtime().module(define, name => {
  if (name === "chart") {
    return new Inspector(document.querySelector("#observablehq-chart-c196b206"));
  }
  return ["focus"].includes(name);
});

main.redefine("aapl", newData);

</script>