<!DOCTYPE html>
<html>
<head><title>w209 site</title></head>
<body>
<h2>Hello World!</h2>
<img src="{{url_for('static',filename=file)}}"/>
<br><br>
<form action="/temp" method="get">
	<button type="submit">Load D3 Example</button>
</form>
<button onclick="window.location.href='/altair'">Load Altair Example</button>
<button onclick="window.location.href='/players/count'">Load Players Count</button>
<input type="text" id="player" name="player" placeholder="Enter player name">
<button onclick="window.location.href='/players/get_nationality?player=' + document.getElementById('player').value">Get Player Nationality</button>
</body>
</html>
